<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @monument.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @monument.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @monument.image %>
</p>

<p>
  <strong>Game Name:</strong>
  <%= @monument.game_name %>
</p>

<p>
  <strong>Locality:</strong>
  <%= @monument.locality %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @monument.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @monument.longitude %>
</p>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_monument_path(@monument) %> |
<% end %>
<%= link_to 'Back', monuments_path %>
